<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
  <connectionStrings>
    <add name="APPSYSConnectionString" connectionString="Data Source=.;Initial Catalog=APPSYS;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TMSConnectionString" connectionString="Data Source=.;Initial Catalog=TMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="YUPKSTString" connectionString="Data Source=.;Initial Catalog=PKST;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TMSConnectionString2" connectionString="Data Source=.;Initial Catalog=TMS;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PKSTConnectionString" connectionString="Data Source=.;Initial Catalog=PKST;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TMSpenny" connectionString="Data Source=.;Initial Catalog=TMS;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TMSClassroomSelect" connectionString="Data Source=.;Initial Catalog=TMS;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PKSTConnectionString2" connectionString="Data Source=.;Initial Catalog=PKST;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PKSTConnectionString3" connectionString="Data Source=.;Initial Catalog=PKST;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PKSTConnectionString4" connectionString="Data Source=.;Initial Catalog=PKST;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PKST_gridview" connectionString="Data Source=.;Initial Catalog=PKST;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PKSTConnectionString_report_1" connectionString="Data Source=.;Initial Catalog=PKST;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 修改網頁 Session Timeout 為 120 分鐘， SqlCommandTimout 為 60 秒 -->
    <!-- 使用 IIS 內定的 Session 模式 -->
    <sessionState timeout="120" sqlCommandTimeout="60" mode="InProc"/>
    <!-- 使用 ASP.NET 狀態服務來處理 Session，但 Server 必需要安裝 IIS 才會有這個服務 -->
    <!--<sessionState timeout="120" sqlCommandTimeout="60" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false"></sessionState>-->
    <!-- 
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁，
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--   預設上傳檔案大小為 4096KB，執行時間 120秒，我門將上傳檔案大小更改為 8192KB -->
    <httpRuntime maxRequestLength="8192" executionTimeout="120"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="Default.aspx">
    <system.webServer>
      <defaultDocument>
        <files>
          <clear/>
          <add value="default.aspx"/>
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
</configuration>